DATABASE_URL=postgresql://neondb_owner:npg_4wY5XGpDbaqB@ep-proud-pine-azctgy09.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
SECRET_KEY=z36tzdpLgneFXD0gC3u1_BfH5E9Op-CFgQLVJK1NNBQ
ACCESS_TOKEN_EXPIRE_MINUTES=30